/*===========*/
/***  ANIMS  ***/
/*===========*/
#box {
	position:relative;
	width:200px;
	margin:0 auto;
    height: 200px;
}
#box img {
	position:absolute;
	left:0;
}
@keyframes fondu-in-out {
	0%    { opacity:1; }
	25%   { opacity:1; }
	75%   { opacity:0; }
	100%  { opacity:0; }
}
#box img.second {
	animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
}
/*********************/
.zoom {
    -webkit-animation: zoom 1s;
    animation: zoom 1s;
    transition: all 1s ease-in-out;
}
@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/*********************/
.opac {
    animation: opac 3s;
}
@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*********************/
    .slide {
        position: absolute;
        left: -300px;
        height: 100%;
        -webkit-animation: slide 1s forwards;
        animation: slide 1s forwards;
        transition: all 1s ease-in-out;
    }
    @-webkit-keyframes slide {
        100% { left: 0; position: relative; }
    }
    @keyframes slide {
        100% { left: 0; position: relative; }
    }

/*********************/
.color {
    -webkit-animation: color 3s;
    animation: color 3s;
    transition: all 3s ease-in-out;
    animation-iteration-count: 1;
}
@-webkit-keyframes color {
    0% {left:-20%;}
    50% {background-color:#9E2960; left:0%;}
    100% {background-color:#2A609E; left:0%;}
}
@keyframes color {
    0% {left:-20%;}
    50% {background-color:#9E2960; left:0%;}
    100% {background-color:#2A609E; left:0%;}
}

/*********************/
.animtop {
    position: relative;
    -webkit-animation: animtop 1s;
    animation: animtop 1s;
    transition: all 1s ease-in-out;
}
@-webkit-keyframes animtop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes animtop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
/*********************/
.animright {
    position: relative;
    -webkit-animation: animright 1s;
    animation: animright 1s;
    transition: all 1s ease-in-out;
}
@keyframes animright {
    0% {
        right: -300px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}