/*===========*/
/***  ANIMS  ***/
/*===========*/

/* fondu-in-out */
@keyframes fondu-in-out {
	0%    { opacity:1; }
	25%   { opacity:1; }
	75%   { opacity:0; }
	100%  { opacity:0; }
}
.fondu-in-out {
	animation-name: fondu-in-out;
	animation-timing-function: ease;
	animation-duration: 3s;
}
/* zoom */

.zoom {
    -webkit-animation: zoom 1s;
    animation: zoom 1s;
    transition: all 1s ease-in-out;
}
@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* opac */
.opac {
    animation: opac 3s;
}
@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* color */
.color {
    -webkit-animation: color 3s;
    animation: color 3s;
    transition: all 3s ease-in-out;
    animation-iteration-count: 1;
}
@-webkit-keyframes color {
    0% {left:-20%;}
    50% {background-color:#9E2960; left:0%;}
    100% {background-color:#2A609E; left:0%;}
}
@keyframes color {
    0% {left:-20%;}
    50% {background-color:#9E2960; left:0%;}
    100% {background-color:#2A609E; left:0%;}
}

/* animtop */
.animtop {
    position: relative;
    -webkit-animation: animtop 1s;
    animation: animtop 1s;
    transition: all 1s ease-in-out;
}
@-webkit-keyframes animtop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes animtop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
/* animright */
.animright {
    position: relative;
    -webkit-animation: animright 1s;
    animation: animright 1s;
    transition: all 1s ease-in-out;
}
@keyframes animright {
    0% {
        right: -300px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
/* animleft */
.animleft {
    -webkit-animation: animleft 1s;
    animation: animleft 1s;
    transition: all 1s ease-in-out;
}
@keyframes animleft {
    0% {
        left: -300px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}