@font-face {
    font-family:'Allison-Regular';
    src: url(../fonts/Allison-Regular.ttf);
}
* {
    box-sizing: border-box;
    transition: all .2s ease;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: url(../img/book.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #084C64;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
p {font-size: 16px;}
h1 {font-size: 40px; color: #2A609E;}
h2 {font-size: 30px; color: #2A609E;}
h3 {font-size: 20px; color: #2A609E;}

a {
    color: #F6B12D;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    padding-right: 5px;
    margin: auto;
    position: relative;
    vertical-align: middle;
}

/*===============*/
/***  BUTTONS  ***/
/*===============*/
button {
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    background: #2A609E;
    color: white;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

button:hover {
    background: #9e2960;
    color: white;
}

/*===========*/
/*** TOOLS ***/
/*===========*/

/*** colors ***/
.blue {
    color: #2A609E;
}
.red {
    color: #9E2960;
}
.yellow {
    color: #F6B12D;
}
.white {
    color: white;
}
.alice {
    color: aliceblue;
}

/*** Positions ***/
.center {
    justify-content: center;
    align-items: stretch;
}

.auto {
    margin: 0 auto;
}

.txtcenter {
    text-align: center;
}

/*===========*/
/***   fa  ***/
/*===========*/
.fa-solid {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    vertical-align: baseline;
    padding: 0px 5px;
    color: #F6B12D;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.fa-solid {
    text-shadow: 0;
}

.fa.fa-hover-hidden {
    color: #2A609E;
    padding: 0px 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.fa.fa-hover-show {
    color: #9E2960;
    padding: 0px 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
    display: none;
}

*:hover > .fa.fa-hover-show {
    display: inline-block;
}

.fa-user-lock, .fa-lock {
    float: right;
}

/*=======img accueil==========*/
.livredor {
    margin: auto;
}

@media screen and (max-width: 700px) {
    img.livredor {
        max-width: 400px !important;
        height: auto;
        position: relative;
    }
}
.btns {margin-top: 6rem; }
/*==========*/
/*** FLEX ***/
/*==========*/
.row {
    display: flex;
    gap:2%;
}
.col {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.flex2 {
    width: 50%;
}
.flex3 {
    width: 33.33333333%;
}
.flex4 {
    width: 25%;
}
.flex5 {
    width: 20%;
}
.center {
    justify-content: center;
    align-items: center;
}
.strech {
    align-items: stretch;
}

/**************************/
header {
    background-color: #2A609E;
    color: #fff;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

main {
    background-color: transparent;
    line-height: 1.5;
}

header,
main {
    padding: 2rem;
}

nav {
    display: flex;
    flex-flow: column nowrap;
}

.nav_link {
    display: block;
    padding: .5rem;
    text-transform: uppercase;
    color: #fff;
}  

.nav_link:hover {
    background-color: #fff;;
    color: #2A609E
}

.content {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;    
    justify-content: center;
    width: calc(100% - 320px);
    margin-left: calc(320px);
    background:#1C2942;
    color: #8e9eb1;
}

/*** 1 comme son nom l'indique ! ***/
.name {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Allison-Regular', cursive;
    letter-spacing: 2px;
    transform: rotate(-5deg);
}

/*** 2 métier ***/
.job {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title {
    margin: 0;
    text-align: center;
    padding: 5px;
}

.title1 {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.bonjour {
    padding: 2rem;
    color: #F6B12D;
    font-weight: 600;
    display: block!important;
    width: 100%;
    clear: both;
    border: 2px solid #F6B12D;
}
.folio {
    clear: both;
}

/*=============*/
/***  TABLES  ***/
/*=============*/
th {line-height: 3;}

tr, th {padding: 0 20px;}

/*** tables commentaires***/
.com {
    text-align: left;
    min-height: 60px;
    padding: 20px;
}

.coms {
    text-align: left;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}

.tdcom1, .thcom1 {
    width: 20%;
    text-align: left;
}

.tdcom2, .thcom2 {
    width: 30%;
    text-align: left;
    padding: 0;
}

.tdcom3, .thcom3 {
    width: 50%;
    text-align: left;
    padding: 0;
}

/*===========*/
/*** FORMS ***/
/*===========*/
.form_title {
    color: #9E2960;
}

form {
    width:45%;
    margin: 1% auto;
    padding: 40px;
    border: none;
    background: rgba(180, 187, 191, 0.6);
    background-size:cover;
    border-radius: 5px;
}

form:hover {
    z-index: 1;
}

@media screen and (max-width: 700px) {
    form {
        width: 80%;
        margin: 2% auto;
        padding: 20px;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    background: #F6F6F6;
    border: 1px solid aliceblue;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #2a609e;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #F0FFF0;
    padding: 12px 20px;
    margin: 8px auto;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

input[type=submit]:hover {
    background: #9e2960;
    border: 1px solid aliceblue;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

label {
    padding-left: 15px;
    color: #2a609e;
    font-weight:600;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    background: #F6F6F6;
    border: 1px solid aliceblue;
    box-sizing: border-box;
}

/*********************************/
/*        Querries               */
/*********************************/
@media only screen and (min-width: 480px) {
    nav {
    flex-flow: row wrap;
    }
}

@media only screen and (min-width: 640px) {
    header {
        bottom: 0;
        left: 0;
        position: fixed;
        top: 0;
        width: 320px;
    }

    main {
        margin-left: calc(320px);
    }

    nav {
        flex-flow: column nowrap;
    }
    }

@media only screen and (min-width: 760px) {
    header, main {
        padding: 4rem;
    }
}

@media screen and (max-width: 700px) {
    footer {
        width: 100%;
        margin-left: 0;
        padding: 2rem;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1200px) {
    form {
        width:100%;
    }
}

@media screen and (max-width: 700px) {
    .folio {
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    .nav_link {
        font-size: .7rem;
    }
}
